:root {
    --primary-text-color: #2C2C2C;
    --title-text-color: #2C2C2C;
    --accent-color: #BBF330;
    --footer-link-color: #7EB101;
    --primary-backgraund-color: #FEFEFE;
    --primary-white-color: #FFFFFF;
    --border-button-color: #7EB101;
    --background-button-color: #BBF330;
    --icons-color: #7EB101;
    --burger-button-color: #7EB101;
    --border-yellow-color: #FFE550;

}
