:root {
  --primary-text-color: #2c2c2c;
  --title-text-color: #2c2c2c;
  --accent-color: #bbf330;
  --footer-link-color: #7eb101;
  --primary-backgraund-color: #fefefe;
  --primary-white-color: #ffffff;
  --border-button-color: #7eb101;
  --background-button-color: #bbf330;
  --icons-color: #7eb101;
  --burger-button-color: #7eb101;
  --border-yellow-color: #ffe550;
  --placeholder-input-color: #505050;
}
