<section class="section">

    <div class="container customers">
        <div class="customers-container">
    
            <h2 class="customers-title">What our Customers Say</h2>
            <p class="customers-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <ul class="customers-list list">
            <li class="customers-list__item">
                <div class="customers-list__item-container">
                    <div class="stars">
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                    </div>
                    <p class="customers-list-text">
                    “The Best app I have used to order food in a while, so many options to choose from too, I would recomend to a freind, No questions asked”
                    </p>
    
                    <div class="customers-list-wrapper">
                        <!-- <svg class="customers__list-icon-client" width="48" height="48">
                            <use href="../images/sprite.svg#customer-1"></use>
                        </svg> -->
                        <picture>
                            <source srcset="images/customers/desktop/man-desc.jpg 1x, images/customers/desktop/man-desc@2x.jpg 2x" media="(min-width: 1280px)">
                            <source srcset="images/customers/tablet/man-tabl.jpg 1x, images/customers/tablet/man-tabl@2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="images/customers/mobile/man-mobile.jpg 1x, images/customers/mobile/man-mobile@2x.jpg 2x" media="(min-width: 280px)">
                            <img src="images/customers/mobile/man-mobile.jpg" alt="man" width="100%">
                        </picture>
        
                        <div class="customers-list-wrapper__clients">
                            <p class="customers-list-wrapper__clients-name">Sumith Shah</p>
                            <p class="customers-list-wrapper__clients-caption">Some Dude</p>
                        </div>
                    </div>
                </div>
            </li>
    
    
            <li class="customers-list__item">
                <div class="customers-list__item-container">
                    <div class="stars">
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="images/sprite.svg#star"></use>
                        </svg>
                    </div>
                    <p class="customers-list-text">
                        “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
                    </p>
            
                    <div class="customers-list-wrapper">
                        <!-- <svg class="customers__list-icon-client" width="48" height="48">
                            <use href="../images/sprite.svg#customer-2"></use>
                        </svg> -->
                        <picture>
                            <source srcset="images/customers/desktop/woman-desc.jpg 1x, images/customers/desktop/woman-desc@2x.jpg 2x" media="(min-width: 1280px)">
                            <source srcset="images/customers/tablet/woman-tabl.jpg 1x, images/customers/tablet/woman-tabl@2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="images/customers/mobile/woman-mobile.jpg 1x, images/customers/mobile/woman-mobile@2x.jpg 2x" media="(min-width: 280px)">
                            <img src="images/customers/mobile/woman-mobile.jpg" alt="woman" width="100%">
                        </picture>
                        <div class="customers-list-wrapper__clients">
                            <p class="customers-list-wrapper__clients-name">Sumith Shah</p>
                            <p class="customers-list-wrapper__clients-caption">Some Dude</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>