<section class="customers">
    <div class="container">
        <div class="customers__header">
    
        <h2 class="customers__title">What our Customers Say</h2>
        <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    
        <ul class="customers__list list">
            
            <li class="customers__list-item">
                <div class="customers__list-container">
    <svg class="customers__list-icon" width="101" height="16">
        <!-- <use href="./images/sprite.svg#icon-Stars"></use> -->
    </svg>
    <p class="customers__list-text">
        “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”
    </p>
    
    <div class="customers__list-wrapper">
    <!-- <svg class="customers__list-icon-client" width="48" height="48">
        <use href=""></use>
    </svg> -->
    <picture>
        <!-- <source srcset="./img/desctop/man-desc.jpg 1x, ./img/desctop/man-desc@2x.jpg 2x" media="(min-width: 1280px)">
        <source srcset="./img/tablet/man-tabl.jpg 1x, ./img/tablet/man-tabl@2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="./img/mobile/man-mobile.jpg 1x, ./img/mobile/man-mobile@2x.jpg 2x" media="(min-width: 280px)">
        <img src="./img/mobile/man-mobile.jpg" alt="man" width="100%"> -->
    </picture>
    
    <div class="customers__list-clients">
    <p class="customers__list-client-name">Sumith Shah</p>
    <p class="customers__list-client-caption">Some Dude</p>
    </div>
    </div>
    </div>
            </li>
    
    
     <li class="customers__list-item">
        <div class="customers__list-container">
                <svg class="customers__list-icon" width="101" height="16">
                    <!-- <use href="../img/sprite.svg#icon-Stars"></use> -->
                </svg>
                <p class="customers__list-text">
                    “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
                </p>
    
                <div class="customers__list-wrapper">
                <!-- <svg class="customers__list-icon-client" width="48" height="48">
                    <use href=""></use>
                </svg> -->
                <picture>
                    <!-- <source srcset="./img/desctop/woman-desc.jpg 1x, ./img/desctop/woman-desc@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/tablet/woman-tabl.jpg 1x, ./img/tablet/woman-tabl@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./img/mobile/woman-mobile.jpg 1x, ./img/mobile/woman-mobile@2x.jpg 2x" media="(min-width: 280px)">
                    <img src="./img/mobile/woman-mobile.jpg" alt="man" width="100%"> -->
                </picture>
                <div class="customers__list-clients">
                <p class="customers__list-client-name">Sumith Shah</p>
                <p class="customers__list-client-caption">Some Dude</p>
            </div>
            </div>
            </div>
        </ul>
    </div>
    </section>