<section class="section">
    <div class="container">
        <h2 class="title">Some of Our Favorites</h2>
        <p class="favorites-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites">
            <li class="favorites__item">
                <!-- <picture>                          
                    <source srcset=" 1x,  2x" media="(min-width: 1200px)" />                       
                    
                    <source srcset=" 1x,  2x" media="(min-width: 768px)" />                       
                                             
                    <source srcset=" 1x,  2x" media="(max-width: 767px)" />
                
                    <img class="" src="images/gamburger.jpg" alt="" width="224">
                </picture> -->
                <img src="images/gamburger.jpg" alt="" width="224" />
            </li>
            <li class="favorites__item">
                <img src="images/gamburger.jpg" alt="" width="224" />
            </li>
            <li class="favorites__item">
                    <img src="images/gamburger.jpg" alt="" width="224" />
            </li>
            <li class="favorites__item hidden-mob">
                    <img src="images/gamburger.jpg" alt="" width="224" />
            </li>
            <li class="favorites__item hidden-mob">
                    <img src="images/gamburger.jpg" alt="" width="224" />
            </li>
            <li class="favorites__item hidden-mob">
                    <img src="images/gamburger.jpg" alt="" width="224" />
            </li>
        </ul>
    </div>
</section>
