<section class="section section-favorites">
    <div class="container">
        <h2 class="title favorites-title">Some of Our Favorites</h2>
        <p class="favorites-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites">
            <li class="favorites__item">
                <div class="favorites__item-container">
                    <picture>                          
                        <source srcset="images/favorites/desktop/gamburger.png 1x, images/favorites/desktop/gamburger@2x.png 2x" media="(min-width: 1200px)" />                       
                        
                        <source srcset="images/favorites/tablet/gamburger.png 1x, images/favorites/tablet/gamburger@2x.png 2x" media="(min-width: 768px)" />                       
                                                
                        <source srcset="images/favorites/mobile/gamburger.png 1x, images/favorites/mobile/gamburger@2x.png 2x" media="(max-width: 767px)" />
                    
                        <img class="favorites__item-img" src="images/favorites/desktop/gamburger.png" alt="Блюдо-1" />
                    </picture>
                </div>
            </li>
            <li class="favorites__item">
                <div class="favorites__item-container">
                    <picture>                          
                        <source srcset="images/favorites/desktop/pasta.png 1x, images/favorites/desktop/pasta@2x.png 2x" media="(min-width: 1200px)" />                       
                        
                        <source srcset="images/favorites/tablet/pasta.png 1x, images/favorites/tablet/pasta@2x.png 2x" media="(min-width: 768px)" />                       
                                                
                        <source srcset="images/favorites/mobile/pasta.png 1x, images/favorites/mobile/pasta@2x.png 2x" media="(max-width: 767px)" />
                    
                        <img class="favorites__item-img" src="images/favorites/desktop/pasta.png" alt="Блюдо-2" />
                    </picture>
                </div>
            </li>
            <li class="favorites__item">
                <div class="favorites__item-container">
                    <picture>                          
                        <source srcset="images/favorites/desktop/pizza.png 1x, images/favorites/desktop/pizza@2x.png 2x" media="(min-width: 1200px)" />                       
                        
                        <source srcset="images/favorites/tablet/pizza.png 1x, images/favorites/tablet/pizza@2x.png 2x" media="(min-width: 768px)" />                       
                                                
                        <source srcset="images/favorites/mobile/pizza.png 1x, images/favorites/mobile/pizza@2x.png 2x" media="(max-width: 767px)" />
                    
                        <img class="favorites__item-img" src="images/favorites/desktop/pizza.png" alt="Блюдо-3" />
                    </picture>
                </div>
            </li>
            <li class="favorites__item hidden">
                <div class="favorites__item-container">
                    <picture>                          
                        <source srcset="images/favorites/desktop/chicken.png 1x, images/favorites/desktop/chicken@2x.png 2x" media="(min-width: 1200px)" />                       
                        
                        <source srcset="images/favorites/tablet/chicken.png 1x, images/favorites/tablet/chicken@2x.png 2x" media="(min-width: 768px)" />                       
                    
                        <img class="favorites__item-img" src="images/favorites/desktop/chicken.png" alt="Блюдо-4" />
                    </picture>
                </div>
            </li>
            <li class="favorites__item hidden">
                <div class="favorites__item-container">
                    <picture>                          
                        <source srcset="images/favorites/desktop/salat.png 1x, images/favorites/desktop/salat@2x.png 2x" media="(min-width: 1200px)" />                       
                        
                        <source srcset="images/favorites/tablet/salat.png 1x, images/favorites/tablet/salat@2x.png 2x" media="(min-width: 768px)" />                       
                    
                        <img class="favorites__item-img" src="images/favorites/desktop/salat.png" alt="Блюдо-5"  />
                    </picture>
                </div>
            </li>
            <li class="favorites__item hidden">
                <div class="favorites__item-container">
                    <picture>                          
                        <source srcset="images/favorites/desktop/borshch.png 1x, images/favorites/desktop/borshch@2x.png 2x" media="(min-width: 1200px)" />                       
                        
                        <source srcset="images/favorites/tablet/borshch.png 1x, images/favorites/tablet/borshch@2x.png 2x" media="(min-width: 768px)" />                       
                    
                        <img class="favorites__item-img" src="images/favorites/desktop/borshch.png" alt="Блюдо-6" />
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>
