<footer class="footer-content">
  <div class="container footer-container">
    <div class="footer-logo-and-nav">
      <a href="" rel="home" class="footer-logo-link">
        <svg class="footer-logo-icon" width="69">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="footer-nav list">
        <li class="footer-nav__items">
          <a class="footer-nav__links" href="">Home</a>
        </li>
        <li class="footer-nav__items">
          <a class="footer-nav__links" href="">About</a>
        </li>
        <li class="footer-nav__items">
          <a class="footer-nav__links" href="">Service</a>
        </li>
        <li class="footer-nav__items">
          <a class="footer-nav__links" href="">Menu</a>
        </li>
        <li class="footer-nav__items">
          <a class="footer-nav__links" href="">Contact</a>
        </li>
      </ul>
    </div>
    <div class="footer-subscribe">
      <p class="footer-subscribe-title">Subscribe</p>
      <input
        type="email"
        class="subscribe-input input-footer-mail"
        required
        placeholder="Enter your email"
        name="footer_mail_numb"
      />
      <button type="submit" class="subscribe-btn footer-subscribe-btn">
        Subscribe
      </button>
      <p class="subscribing-text">
        By subscribing you agree to with our
        <span
          ><a class="subscribing-text-link-color" href=""
            >Privacy Policy</a
          ></span
        >
      </p>
    </div>
    <div class="setting-list-and-labe">
      <ul class="footer-settings-list list">
        <li class="footer-settings__items">
          <a href="" class="footer-settings__link">Privacy Policy</a>
        </li>
        <li class="footer-settings__items">
          <a href="" class="footer-settings__link">Terms of Service</a>
        </li>
        <li class="footer-settings__items">
          <a href="" class="footer-settings__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-labe">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
