<header class="page-header">
  <div class="container page-header__container">
    <nav class="page-navigation">
      <a href="index.html" class="logo">
        <svg class="logo__img" width="66" height="52">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="menu list">
        <li class="menu__item">
          <a class="menu__link menu__link_current" href="index.html">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#about">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#service">Service</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#menu">Menu</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-btn" data-menu-open>
      <svg class="mobile-menu-btn__icon" width="23" height="16">
        <use href="./images/sprite.svg#gumburger-menu"></use>
      </svg>
    </button>

    <button class="order-btn page-header-btn" type="button" data-modal-open>
      Order Now
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon" width="11" height="11">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list list">
        <li>
          <a href="#home" class="mobile-menu__link current link">Home</a>
        </li>
        <li>
          <a href="#about" class="mobile-menu__link link">About</a>
        </li>
        <li>
          <a href="#service" class="mobile-menu__link link">Service</a>
        </li>
        <li>
          <a href="#menu" class="mobile-menu__link link">Menu</a>
        </li>
        <li>
          <a href="#contact" class="mobile-menu__link link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
