<section class="hero">
    <div class="container hero__container">
        <div class="hero__left-side">
            <h1 class="hero__title">
                Enjoy Your Favorite Food From Anywhere
            </h1>
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <button type="button" class="hero__btn">Order Now

            </button>
        </div>
        <div class="hero__right-side">
            <div class="hero__right-border">
                <picture> 
                    <source media="(min-width: 1280px)" srcset="./images/hero/desktop/falafel-1.png 1x ./images/hero/desktop/falafel-1@2x.png 2x" >
                    <!-- <source media="(min-width: 768px)" srcset="./images/hero/tablet/falafel-1.png 1x, ./images/hero/tablet/falafel-1@2x.png 2x"> -->
                     
                    <img class="hero__img" src="./images/hero/desktop/falafel-1.png" alt="food">
                </picture>
            </div>

        </div>
    </div>
</section>