<section class="hero">
    <div class="container hero__container">
        <div class="hero__left-side">
            <h1 class="hero__title">
                Enjoy Your Favorite Food From Anywhere
            </h1>
            <div class="hero__content-wrapper">
                <div class="hero__kart">
                    <p class="hero__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                        tristique. Duis
                        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                    </p>
                    <button type="button" class="hero__btn" data-modal-open>Order Now
                
                    </button>
                
                </div>
                <div class="hero__right-border">
                    <button class="hero__btn-left" type="button">
                        <svg class="hero__thumb-left" width="40px" height="40px">
                            <use class="hero__icon-left" href="./images/sprite.svg#arrow-left">

                            </use>
                        </svg>
                    </button>
                    <button class="hero__btn-right" type="button">
                        <svg class="hero__thumb-right" width="40px" height="40px">
                            <use class="hero__icon-right" href="./images/sprite.svg#arrow-right">
                    
                            </use>
                        </svg>
                    </button>
                    <picture>
                        <source srcset="./images/hero/desktop/falafel-1.png 1x, ./images/hero/desktop/falafel-1@2x.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/hero/tablet/falafel-1.png 1x, ./images/hero/tablet/falafel-1@2x.png 2x"
                            media="(min-width: 768px)" width="292px">
                
                        <img class="hero__img" src="./images/hero/desktop/falafel-1.png" alt="food">
                    </picture>
                </div>
            </div>
        </div>
        
    </div>
</section>