<section class="offerings">
    <div class="container offerings__container">
        <div class="offerings__left-side">
            <picture>
                <source media="(min-width: 1280px)" srcset="./images/offerings/desktop/apple.png 1x, ./images/offerings/desktop/apple@2x.png 2x">
                <source media="(min-width: 768px)" srcset="./images/offerings/tablet/apple-png/apple-1.png 1x, ./images/offerings/tablet/apple-png/apple-1@2x.png 2x">
                <source media="(min-width: 480px)" srcset="./images/offerings/mobile/apple.png 1x, ./images/offerings/mobile/apple@2x.png 2x">
                <img class="offerings__img" src="./images/offerings/desktop/apple.png" alt="aple">
            </picture>
        </div>
        <div class="offerings__right-side">
            <h2 class="offerings__title">
                What’s Special About Our Offerings
            </h2>
            <p class="offerings__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <ul class="offerings__benefits list">
                <li class="">
                    <a href="" class="offerings__benefits-link">
                        <svg class="offerings__benefits-thumb" width="48px" height="48px">
                            <use class="offerings__benefits-icon" href="./images/sprite.svg#icon-deliv">

                            </use>
                        </svg>
                    </a>
                    <h3 class="offerings__benefits-title">
                        Fasest Delivery
                    </h3>
                    <p class="offerings__benefits-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                    </p>
                </li>
                <li class="offerings__benefits-item">
                    <a href="" class="offerings__benefits-link">
                        <svg class="offerings__benefits-thumb" width="48px" height="48px">
                            <use class="offerings__benefits-icon" href="./images/sprite.svg#icon-order">

                            </use>
                        </svg>
                    </a>
                    <h3 class="offerings__benefits-title">
                        Easy To Order
                    </h3>
                    <p class="offerings__benefits-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                    </p>
                </li>
            </ul>
            <button type="button" class="offerings__btn">Order Now

            </button>
        </div>
    </div>
</section>