.subscribe-btn {
  border-radius: 30px;
  padding: 11px 22px;
  min-width: 103px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--primary-text-color);
  text-align: center;
}

.footer-subscribe-btn {
  border: 0.854167px solid #7eb101;
  background: #ffffff;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 20px;
  display: block;
}
