.subscribe-input {
  background: var(--primary-white-color);
  border-radius: 30px;
  border: 1px solid var(--border-yellow-color);
  height: 42px;
  padding-left: 11px;
  color: var(--placeholder-input-color);
}

.input-footer-mail {
  margin: 0 auto;
  width: 279px;
  display: block;
  margin-bottom: 20px;
}
