.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.modal-form-field-desc {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 2px;
  padding-left: 12px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--border-button-color);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-left: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      cursor: pointer;
      outline: none;
      border-color: #FF705D;
  }
}

.modal-form-btn {
  min-width: 106px;
  align-self: center;
  padding: 10px 38px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--border-button-color);
  border-radius: 30px;

  &:hover,
  &:focus {
      background-color: var(--background-button-color);
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {
  .modal-form-check-wrapper {
      font-size: 14px;
      line-height: 1.71;
  }
}