.favorites, .favorites-text, .title {
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.favorites-text {
    margin-bottom: 60px;
}


.favorites__item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 9px;
    border: 11px solid #FFE550;
    border-radius: 50%;
    box-sizing: content-box;
}

.favorites {
    margin-left: auto;
    margin-right: auto;
}

.favorites__item-img {
    width: 223px;
    height: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .title {
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
    }

    .favorites-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
    }

    .hidden {
        display: none;
    }

}

@media screen and (min-width: 480px) {
    .favorites {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px)  {
    .title {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
    }

    .favorites {
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 31px;
    }

    .hidden {
        display: block;
    }

    .favorites__item {
        padding: 20px;
        border: 14px solid #FFE550;
        margin: 0;
    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .favorites__item-img {
        width: 268px;
        height: auto;
    }

}

@media screen and (min-width: 1280px)  {

    .favorites__item {
        padding: 24px;
        border: 16px solid #FFE550;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }


    .favorites-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
    }  
    
    .favorites__item-img {
        width: 315px;
    }
}