.favorites, .favorites-text, .title {
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.favorites-text {
    margin-bottom: 60px;
}


.favorites__item {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 9px;
    border: 11px solid #FFE550;
    border-radius: 50%;
}

.favorites {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .title {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
    }

    .favorites-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
    }
}

@media screen and (min-width: 768px)  {
    .favorites {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 1280px)  {
    
}