










.hero__btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--primary-text-color);
    background: var(--accent-color);
    border-radius: 30px;
    border: none;
    padding: 6px 18px;
    margin-top: 40px;

}



.hero__right-border {
    border: 26px solid var(--border-yellow-color);
    border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .container {
        width: 100%;
    }
    .hero__container {
        display: block;
    }
    .hero__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        color: var(--primary-text-color);
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
        margin-top: 60px; 
        
    }
    .hero__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #2C2C2C;
        margin-top: 28px;
            
    }
        
        
            
.hero__btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--primary-text-color);
    background: var(--accent-color);
    border-radius: 30px;
    border: none;
    padding: 6px 18px;
    margin-top: 28px;
}
            
    .hero__right-side {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    
}



@media screen and (min-width: 767px) {
    .hero__container {
            display: flex;
        }
    .hero__title {
        font-size: 42px;
        margin-top: 60px;
        max-width: 480px;
    }
    .hero__text {
        margin-top: 44px;
        max-width: 336px;
    }
    .hero__right-side {
        margin-top: 150px;
    }
    .hero__right-border {
        border: 14px solid var(--border-yellow-color);
    }
    

    
}

@media screen and (min-width: 1200px) {
    .hero__title {
        font-size: 46px;
    }
        .hero__right-side {
            margin-left: auto;
        }
}