
.offerings__btn {
    margin-top: 32px;
    margin-bottom: 60px;
    padding: 8px 19px;
    color: --primary-white-color;
    border: 2px solid var(--icons-color);
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--primary-text-color);
}

.offerings__benefits-icon {
    fill: var(--icons-color);
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    

    .offerings__container {
        display: block;
        background-image: url("../images/offerings/mobile/bg-offerings.png");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
        
        .offerings__title {
        max-width: 467px;
        margin-top: 60px;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
    }

        .offerings__text {
            max-width: 467px;
            margin-top: 28px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            
        }
    
        .offerings__title,
        .offerings__text,
        .offerings__benefits,
        .offerings__left-side,
        .offerings__btn-wrapper {
            margin-left: auto;
            margin-right: auto;
        }
        .offerings__benefits, .offerings__btn-wrapper{
            max-width: 467px;
            
        }
        .offerings__left-side {
            max-width: 280px;
        }
            
        .offerings__img {
            margin-top: 41px;
        }
        
   
    .offerings__benefits-item {
        margin-top: 28px;
    }
    .offerings__benefits-title{
        margin-top: 8px;
    }
    .offerings__benefits-text{
        margin-top: 16px;
        max-width: 467px;
        margin-top: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
    }
    .offerings__btn-link {
        margin-left: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #000000
    }
    .offerings__chevron {
        fill: #000000;
    }
    .offerings__aple-mid, .offerings__aple-right {
        display: none;
    }
    
}
@media screen and (min-width: 468px) and (max-width: 767px){
    .offerings__title, .offerings__text, .offerings__benefits,
        .offerings__btn-wrapper, .offerings__benefits-text {max-width: 280px;
        }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .offerings__container {
            
            background-image: url("../images/offerings/mobile/bg-offerings-480.png");
        }
}
@media screen and (min-width: 768px) {
    .offerings__container {
        background-image: url("../images/offerings/tablet/bg-offerings.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .offerings {
        margin-top: -110px;
    }
    .offerings__img {
        margin-top: 150px;
    }
    .offerings__title {
        margin-top: 60px;
        font-size: 42px;
        line-height: 1.16;
        max-width: 526px;
    }
    .offerings__text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.18;
        max-width: 500px;
    }
    .offerings__benefits {
        display: flex;
        margin-top: 40px;
    }
    .offerings__benefits-title {
        margin-top: 8px;
    }
    .offerings__benefits-text {
        margin-top: 16px;
        max-width: 253px;

    }
    .offerings__benefits-item:last-child {
        margin-left: 116px;
    }
    .offerings__btn-wrapper {
        margin-top: 40px;
        padding-bottom: 100px;
    }
    .offerings__btn-link {
        margin-left: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #000000
    }
    
    .offerings__aple-mid {
        margin-bottom: 50px;
        margin-left: 21px;
    }
    .offerings__aple-right {
        margin-bottom: 70px;
        margin-left: 44px;
    }
}

@media screen and (min-width: 1280px){
    .offerings__aple-mid,
    .offerings__aple-right,
    .offerings__btn-link {
    display: none;
    }
    .offerings__container{
        display: flex;
        margin-top: -140px;
        background-image: url("../images/offerings/desktop/bg-offerings.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .offerings__title {
        margin-top:260px;
    }
    .offerings__right-side {
        margin-left: 90px;
    }
    .offerings__benefits-text {
        line-height: 1.5;
    }
    .offerings__benefits-item:last-child {
        margin-left: 67px;
    }
    
}
            